version: 1

database:
  connection_url: !env PS_DATABASE_URL
  sslmode: disable

replication:
  connections:
    - type: postgresql
      uri: !env PS_DATABASE_URL
      sslmode: disable

storage:
  type: postgresql
  uri: !env PS_STORAGE_URI
  sslmode: disable

port: !env PS_PORT

client_auth:
  supabase: true
  supabase_jwt_secret: !env PS_SUPABASE_JWT_SECRET
  audience:
    - authenticated
  jwks:
    keys:
      - kty: oct
        alg: HS256
        k: !env PS_SUPABASE_JWT_SECRET_B64

sync_rules:
  path: sync-rules.yaml
